/*** TAG SELECTORS ***/
body { background-color: powderblue; margin: 0; padding: 0; border: 0;}
img { border-radius: 100%; margin-right: 10px; width: 80%;}
hr {
    border-style: none;
    border-top: dotted 5px;
    color: grey;
    margin-top: 0;
    width: 5%;
  }
h1 {
  border: 0;
  padding: 0;
  margin: 0;
}
.box1 {
  color: orange;
  width: 200px;
  height: 200px;
  background-color: blue;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: fixed;
  margin-top: 150px;
}
.box2 {
  color: black;
  width: 200px;
  height: 200px;
  background-color: orange;
  font-size: 28px;
  margin-left: 200px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: fixed;
  margin-top: 200px;
}
.box3 {
  color: white;
  width: 200px;
  height: 200px;
  background-color: red;
  font-size: 28px;
  margin-left: 400px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: fixed;
  margin-top: 250px;
}
.box4 {
  color: gold;
  width: 200px;
  height: 200px;
  background-color: green;
  font-size: 28px;
  margin-left: 600px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: fixed;
  margin-top: 300px;
}

h2 {color: #66BFBF;}
h3 {color: #66BFBF;}
