/*** TAG SELECTORS ***/
body { background-color: powderblue; }
img { border-radius: 100%; margin-right: 10px; width: 80%;}
hr {
    border-style: none;
    border-top: dotted 5px;
    color: grey;
    margin-top: 10px;
    width: 5%;
  }
h1 {

}


h2 {color: #66BFBF;}
h3 {color: #66BFBF;}
img:hover {
  width: 82%;
}


/*** CLASS SELECTORS ***/
/* use broadly */

span {
  background-color: black;
  color: yellow;
  padding: 5px;
}

.c1 {
  width: 200px; height: 200px;
  background-color: red;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 10px;
}
.c2 {
  width: 200px; height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  display: inline-block;
  position: relative;
  right: 50px;
  top: 40px;
  padding: 10px;
}
.c3 {
  width: 200px; height: 200px;
  background-color: yellow;
  color: navy;
  text-align: center;
  display: inline-block;
  position: relative;
  right: 100px;
  top: 80px;
  padding: 10px;
}
.c4 {
  width: 100px; height: 300px;
  background-color: green;
  color: white;
  text-align: center;
  display: inline-block;
  position: relative;
  right: 140px;
  top: 100px;
  padding: 10px;
}
.c5 {
  width: 300px; height: 300px;
  background-color: orange;
  color: black;
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 350px;
  padding: 10px;
}



/*** ID SELECTORS ***/
/* use sparingly - can only be used once on an html page */
