/*** TAG SELECTORS ***/
body { background-color: powderblue; }
img { border-radius: 100%; margin-right: 10px; width: 80%;}
hr {
    border-style: none;
    border-top: dotted 5px;
    color: grey;
    margin-top: 10px;
    width: 5%;
  }



/*** CLASS SELECTORS ***/
/* use broadly */
.box1 {
  color: orange;
  /*width: 200px;
  height: 120px;*/
  background-color: blue;
  font-size: 32px;

}
.box2 {
  color: black;
  width: 240px;
  /*height: 200px;*/
  background-color: orange;
  font-size: 32px;
  margin-left: 200px;
}
.box3 {
  color: white;
  /*width: 150px;*/
  height: 150px;
  background-color: red;
  font-size: 32px;
  margin-left: 200px;
  display: block;
}
.box4 {
  color: navy;
  width: 300px;
  height: 100px;
  background-color: lightgreen;
  font-size: 32px;
  margin-left: 200px;
  margin-bottom: 400px;
  display: block;
  padding: 45px;
}
